@charset "utf-8";
/* CSS Document */

html
{
	background-color: white;
  		
}

#testa  /* la striscia in alto */ 
{
	background-color: #CCCCCC;
	height:70px;
	
}

#loop /*la scritta dell'azienda */ 
{
	margin-top:50px;	
	margin-left:100px;
}

#filetto /* la piccolissima striscia piu scura */ 
{
	background-color:#7F7E7E;
	height:5px;
}

body
{
	
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	line-height: 21px;
	height:100%;
	background:white;
	
	
}
footer{
	
	height:60px;
	background-color: #CCCCCC;
	font-size: 12px;
	line-height: 14px;
	text-align:center;
 		
}

#ridotto{ /* la parte piu stretta del sito*/ 
	
	width:1320px;
	margin-top:-70px;
	margin-left:auto;
	margin-right:auto;
	background:transparent;	
	padding-right:0px;		
}


#link  /* il menu di navigazione */ 
{ 

	width:600px;
	background-color: transparent;
	font-size: 18px;
	margin-top:-130px;
	text-align:right;
	float:right;
					
}

#logo /* dove va l'immagine del logo */ 
{
	
	min-height:125px;
	min-width:125px;
	margin-top:20px;
	margin-left:10px;
			
}

.pulsante_link {  /* il singolo pulsante del munu di navigazione */ 
	font-size:18px;
	align-items:center;
	 
}

.pulsante_over { /*modifica onmousover al pulsante */ 
	font-size:22px;
	}


#titolo{ /* il titolo della pagina, quello spostato*/ 
	
	float: right;
	text-align:center;
	font-size:30px;
	text-decoration:underline;
	padding-right:100px;
	clear:both;	
			
}


.tabella{ /* tabella dove contiene le immagini e le descizione*/ 
	
	margin-top:100px;
			
}

.colonna_foto_sx { /* colonna per le foto a sinistra */ 
	min-height: 100px;
	margin-left:50px;
	float:left;
	
	}
	
.colonna_foto_dx { /* colonna per le foto a destraa */ 
	min-height: 100px;
	margin-left:50px;
	float:right;
		
}

.colonna_testo_sx { /* colonna per il testo a sinistra */ 
	min-height: 100px;
	width:700px;
	margin-left:180px;
	text-align: right;
	float:left;
	
}

.colonna_testo_dx { /* colonna per il testo a destra */ 
	min-height: 100px;
	width:700px;
	text-align: left;
	margin-right:190px;
	float:right;
		
		
}


a  /* rimozione sottolineatura e colori dei link */ 
{
    text-decoration: none; 
    color:black;
}

#piede{ /* contenitore per le scritte del piede  */
	
	text-align:center;
	margin-left:400px;
 
		
			
}


.colonna_ctr { /* singola piccola colonna nel piede */
	min-height: 50px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	text-align: center;
	margin:auto;
	
	
	
}
